body {
	font-family: Roboto;
}

header,
main,
footer {
	max-width: 640px;
	margin: 1rem auto;
	padding: 20px;
	background-color: #b2c3e7;
	border: 3px solid #b2c3e7;
	padding: 1rem;

}

main {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

section {
	padding: 1rem;
	background-color: white;
}